logs
cadc.logs
project/project
macros/project
project/target
target
tmp
.history
dist
projectFilesBackup
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.version
.DS_Store
*.log
logger.xml
tags
/bin/
*/.classpath
*/.project
*/.settings
.cache-main
.cache-tests
*.sc

